.modal-body, .modal-header {
  color: #212529;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

.card {
  background-color: #fff;
  color: #212529;
}
