<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Agregar Género</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item active">Agregar</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Complete los campos</h5>
                <form class="form-material form-horizontal m-t-40">
                    <div class="form-group row">
                        <label class="col-md-12" for="name">Nombre</label>
                        <div class="col-md-12">
                            <input type="text" name="name" class="form-control" [(ngModel)]="genre.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12" for="name">Imagen</label>
                        <div class="col-md-12">
                            <input type="text" name="image" class="form-control" [(ngModel)]="genre.image">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12" for="description">Descripción</label>
                        <div class="col-md-12">
                            <textarea class="form-control" name="description" rows="3" [(ngModel)]="genre.description"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="store()" *ngIf="!genre.id else updateButton">Agregar</button>
                    <ng-template #updateButton>
                      <button type="submit" class="btn btn-info waves-effect waves-light m-r-10" (click)="update()">Actualizar</button>
                    </ng-template>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
