<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Inicio</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed ex eget nisl mollis tempor. Quisque venenatis, massa eu cursus ultrices, metus elit semper nibh, vitae cursus sem nunc elementum velit. Aliquam gravida, est eget consequat tincidunt, erat urna sollicitudin sem, in pretium nunc lorem id sem. Suspendisse venenatis metus a augue imperdiet, ac aliquet magna pretium. Curabitur aliquet lacus id hendrerit rutrum. Donec consequat dui sapien, nec blandit magna sollicitudin sed. Nunc accumsan, nisl quis porttitor imperdiet, magna nisl ultrices dui, in sollicitudin erat nisi aliquet ligula. Ut lacus odio, sagittis ut augue sit amet, viverra tincidunt nunc.
              <br>
              <br>
              Morbi id dui fermentum, ultricies purus non, placerat est. Morbi sed nunc rhoncus magna commodo fringilla vitae a urna. Pellentesque blandit fringilla diam, in vehicula sapien aliquet quis. Nunc auctor convallis velit eget commodo. Nam finibus varius nisi at fringilla. Ut mattis a lorem vel ornare. Mauris tristique neque eu urna fermentum laoreet. In a molestie augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
        </div>
    </div>
</div>
