<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Editar Canción</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
                <li class="breadcrumb-item active">Editar</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Complete los campos</h5>
                <!-- Display de errores desde el backend -->
                <ul class="alert alert-danger" *ngIf="errors?.length > 0">
                  <li *ngFor="let error of errors">
                    {{ error }}
                  </li>
                </ul>
                <form class="form-material form-horizontal m-t-40" #trackForm="ngForm">
                    <div class="form-group row">
                        <label class="col-md-12" for="name">Nombre</label>
                        <div class="col-md-12">
                            <input type="text" name="name" class="form-control" [(ngModel)]="track.name" required minlength="1" maxlength="100" #name="ngModel"> <!-- required minlength="1" maxlength="100" -->
                            <div class="help-block" *ngIf="name.invalid && (name.dirty || name.touched)">
                              <p *ngIf="name.errors.required">Este campo es obligatorio</p>
                              <p *ngIf="name.errors.minlength">Este campo debe contener al menos 1 caracter</p>
                              <p *ngIf="name.errors.maxlength">Este campo no debe superar los 100 caracteres</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12" for="number">Número de canción</label>
                        <div class="col-md-12">
                            <input type="text" name="number" class="form-control" [(ngModel)]="track.trackNumber" required #number="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12" for="duration">Duración</label>
                        <div class="col-md-12">
                            <input type="text" name="duration" class="form-control" [(ngModel)]="track.duration" required minlength="1" #duration="ngModel"> <!-- required minlength="1" maxlength="100" -->
                            <div class="help-block" *ngIf="duration.invalid && (duration.dirty || duration.touched)">
                              <p *ngIf="duration.errors.required">Este campo es obligatorio</p>
                              <p *ngIf="duration.errors.minlength">Este campo debe contener al menos 1 caracter</p>
                              <p *ngIf="duration.errors.maxlength">Este campo no debe superar los 200 caracteres</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-12" for="album">Album</label>
                        <div class="col-md-12">
                          <select class="form-control" name="album" [(ngModel)]="track.album" [compareWith]="compareAlbum" required #album="ngModel">
                            <option [ngValue]="undefined">Seleccione</option>
                            <option *ngFor="let album of albums" [ngValue]="album">{{ album.name }}</option>
                          </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="store()" *ngIf="!track.id else updateButton" [disabled]="!trackForm.form.valid">Agregar</button>
                    <ng-template #updateButton>
                      <button type="submit" class="btn btn-info waves-effect waves-light m-r-10" (click)="update()" [disabled]="!trackForm.form.valid">Actualizar</button>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>
