<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Albums</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Albums</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card el-element-overlay">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">Todos los albums</h5>
                    <div class="row m-t-30" *ngIf="albums?.length == 0">
                      <div class="col-lg-12 col-md-12">
                        <div class="alert alert-info">No existen registros</div>
                      </div>
                    </div>
                    <div class="row m-t-30" *ngIf="albums?.length > 0">
                        <div class="col-lg-2 col-md-3" *ngFor="let album of albums">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1">
                                  <img *ngIf="album?.image" src="http://localhost:8080/api/uploads/albums/img/{{ album.image }}" alt="{{ album.image }}">
                                  <img *ngIf="!album?.image" src="assets/dist/images/alb8.jpg" alt="album" />
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><a class="img-circle font-20" href="#"><i class="ti-control-play"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content text-left">
                                    <h5 class="card-title m-b-0">
                                      {{ album.name }}
                                      <a (click)="delete(album)"><i class="ti-trash pull-right" title="Eliminar"></i></a>
                                      <a [routerLink]="['/albums/edit', album.id]"><i class="ti-pencil pull-right" title="Editar"></i></a>
                                      <a (click)="show(album)"><i class="ti-eye pull-right" title="Ver detalle"></i></a>
                                    </h5>
                                    <small>{{ album.releaseDate }}</small>
                                    <br>
                                    <small>{{ album.artist.name }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-show *ngIf="album_parent" [album_child]="album_parent"></app-show>
